@import '_custom_bootstrap.scss';

@import './font.css';

:root, [data-bs-theme="dark"] {
  --primary: #ca9b3b;
  --primary-dark: #9c7931;
  --bs-link-color: var(--primary);
  --bs-link-hover-color: var(--primary-dark);
  --background: #292929;
  --text: white;
}

/* semantic color variables for this project */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

h1 {
  margin-bottom: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
  padding: .5rem;
  transition-property: background-color, color;
}

a.active,
a:hover {
  background-color: var(--primary);
  color: white;
}

#main {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
}

.headline {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary);
  font-family: 'Baskervville SC', serif;
}
